@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<body>
		<style>
			body {
				background-color: lightblue;
			}
		</style>
    <h1 align="center">
		<font face="Lato" color="Black" size="7">
			WELCOME TO THE HOMEPAGE
		</font>
	<h1>
	<h3 align="center">
		<font face="Lato" color="Black" size="7">
			My Socials 
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a style="text-decoration: none" href="https://www.facebook.com/FEED.ME.M0RE">
	<font face="Lato" color="Black"> FACEBOOK </font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	<a style="text-decoration: none" href="https://www.instagram.com/tris_ragiles/">
		<font face="Lato" color="Black"> INSTAGRAM </font>
	</a>
	</h3>
	</body>
</html>
</div>
