@{
    ViewData["Title"] = "Schedule";
}
<h1>@ViewData["Title"]</h1>

<body>
	<style>
		body {
			background-color: lightblue;
		}
	</style>
	<h1 align="center">
		<font face="Lato" color="Black" size="7">
			This is my schedule in IT elect 3
			<table border="2">
				<tr>
					<th>Course Title</th>
					<th>Units</th>
					<th>Asynchronous</th>
					<th>Face to Face</th>
				</tr>
				<tr>
					<td>IT Elect 3</td>
					<td>3</td>
					<td>1:00PM-3:00PM </td>
					<td>7:00-10:00AM </td>
				</tr>
			</table>
			
		</font>
</body>
		<h1>
